body 
{
    text-align: center;
    background-color: lightgrey;
}

#videos{
    color: cadetblue;
    font-size: 20px;
   
    margin-right: 900px;
    font-weight: bold;
}


#arrow{
    color: cadetblue;
    font-size: 20px;
      margin-top: 160px;
    margin-right: 1050px;
    font-weight: bold;
}




#textarea {
    border: white;
   border-radius: 5px;
    background-color: #ffffff;
    height: 30px;
    width: 50%;
 
}
::placeholder{
    font-weight: bold;
    color:grey;
    font-family:sans-serif;
}


#or{
     font-size: 15px;
}
#folder{
    margin-right: 500px;
    background-color: aliceblue;
}


.menu  {
    
    list-style: none;
    background-color: aliceblue;
    position:static;
    float: left;
    height: 100%;
    width:100px;
        cursor:pointer;
     color: cadetblue;
    font-weight: bold;
   
    
}





